{{ header }}

<script>
var msg_accept = "{{ txt_msg_accept }}";
$(document).ready(function() {
    $(document).delegate('.open_conditions', 'click', function(e) {
      e.preventDefault();
      $('#conditions').modal('show');
    });

  $("body").on("click",".exec_directpay",function(event) {
      event.preventDefault();
      $("#clockwait").show();
      $("#form_paycomet").submit();
  });

});

function vincularTarjeta(){
    if ($("#savecard").is(':checked')){
        $('#savecard').attr("disabled", true);
        $('#close_vincular').show();
        $('#nueva_tarjeta').show();
    }else{
        alert(msg_accept);
    }
}

function close_vincularTarjeta(){
    $('#savecard').attr("disabled", false);
    $('#nueva_tarjeta').hide();
    $('#close_vincular').hide();
}
</script>

<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if (column_left and column_right) %}
      {% set class = 'col-sm-6' %}
    {% elseif (column_left or column_right) %}
      {% set class = 'col-sm-9' %}
    {% else %}
      {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div id="storingStep" class="box">
        <p>{{ text_streamline }}</p>
        <p>
          <span class="checked"><input type="checkbox" name="savecard" id="savecard"></span>
          <label for="savecard">{{ txt_click_terms }} <a class="open_conditions" href="#conditions"><strong>{{ txt_terms }}</strong></a></label>
        </p>
        <p>
          <a href="javascript:void(0);" onclick="vincularTarjeta();" title="{{ txt_link_card }}" class="button button-small btn btn-default">
            <span>{{ txt_link_card }}<i class="icon-chevron-right right"></i></span>
          </a>
          <a href="javascript:void(0);" onclick="close_vincularTarjeta();" title="{{ txt_cancel }}" class="button button-small btn btn-default" id="close_vincular" style="display:none">
            <span>{{ txt_cancel }}<i class="icon-chevron-right right"></i></span>
          </a>
        </p>

        <p class="payment_module paycomet_iframe" id="nueva_tarjeta" style="display:none">
          <iframe src="{{ txt_url_paycomet }}" name="paycomet" style="width: 670px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; height: 322px; " marginheight="0" marginwidth="0" scrolling="no"></iframe>
        </p>
      </div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<div id="conditions" class="modal" style="overflow:auto;display:none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div id="conditions2"  class="modal-body">

        <h2 class="estilo-tit1">{{ text_conditions4 }}</h2>
        <p>
          {{ text_conditions5 }}
        </p>
        <h2 class="estilo-tit1" id="politica_seguridad">{{ text_conditions6 }}</h2>
        <p>
          {{ text_conditions7 }}
        </p>
        <h2 class="estilo-tit1" id="politica_seguridad">{{ text_conditions8 }}</h2>
        <p>
          {{ text_conditions9 }}
        </p>
        <h2 class="estilo-tit1" id="politica_seguridad">{{ text_conditions10 }}</h2>
        <p>
          {{ text_conditions11 }}
        </p>
        <p>
          {{ text_conditions12 }}
        </p>
        <h2 class="estilo-tit1" id="politica_seguridad">{{ text_conditions13 }}</h2>
        <p>
          {{ text_conditions14 }}
        </p>
        <h2 class="estilo-tit1" id="politica_seguridad">{{ text_conditions15 }}</h2>
        <p>
          {{ text_conditions16 }}
        </p>
        <h2 class="estilo-tit1" id="politica_seguridad">{{ text_conditions17 }}</h2>
        <p>
          {{ text_conditions18 }}
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

{{ footer }}
