<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <td class="text-left">{{ column_transaction }}</td>
    <td class="text-left">{{ column_amount }}</td>
    <td class="text-left">{{ column_type }}</td>
    <td class="text-left">{{ column_action }}</td>
    <td class="text-left">{{ column_date_added }}</td>
  </tr>
  </thead>
  <tbody>
  {% if (transactions) %}
    {% for transaction in transactions %}
      <tr>
        <td class="text-left">{{ transaction['transaction_id'] }}</td>
        <td class="text-left">{{ transaction['amount'] }}</td>
        <td class="text-left">{{ transaction['type_text'] }}</td>
        <td class="text-left">{{ transaction['date'] }}</td>

        <td class="text-left">
          {% if (transaction['transaction_id'] and transaction['type'] != "refund" and transaction['amount']>transaction['total_refunded']) %}
            <input type="text" value="0.00" name="amount" />
            <a class="btn btn-primary" onclick="refund(0)" id="button-refund" data-toggle="tooltip" title="{{ button_partial_refund }}">{{ button_partial_refund }}</a>

            <a onclick="refund(1)" data-toggle="tooltip" id="button-total-refund" title="{{ button_total_refund }}" class="btn btn-danger">{{ button_total_refund }}</i></a>&nbsp;
          {% endif %}


        </td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td class="text-center" colspan="7">{{ text_no_results }}</td>
    </tr>
  {% endif %}
  </tbody>
</table>
